{{!-- data context -> controllers.Alert --}}
{{#if options.image}}
<div class="ui basic modal Alert">
{{else}}
<div class="ui basic small modal Alert">
{{/if}}

  {{#if onDeny}}
  <i class="close icon"></i>
  {{/if}}

    <div class="header">
        {{options.title}}
    </div>

    <div class="image content">
        <div class="ui {{#if options.image}}big{{/if}} image" {{#if options.iframe}}style="overflow:hidden;width:400px;height:270px"{{/if}}>
            {{#if options.icon}}
            <i class="{{options.icon}} icon"></i>
            {{/if}}
            {{#if options.image}}
            <img src="{{options.image}}">
            {{/if}}
            {{#if options.iframe}}
            <iframe src="{{options.iframe}}" width="1600" height="1080" style="border:none;transform:scale(0.25,0.25);transform-origin:top left; background: white" ></iframe>
            {{/if}}
        </div>

        <div class="description">
            {{#if options.body}}
            <p>{{options.body}}</p>
            {{/if}}

            {{#if options.link}}
            <a href="{{options.link}}" target="_blank">{{options.link}}</a>
            {{/if}}

            {{#if options.input}}
            <div class="ui small corner labeled input">
                <input type="text" placeholder="{{options.input}}">
                <div class="ui corner label">
                    <i class="add circle icon"></i>
                </div>
            </div>
            {{/if}}
        </div>
    </div>

    <div class="actions">
        <div class="{{buttonCount}} fluid ui inverted buttons">

            {{#if onDeny}}
            <div class="ui red deny basic inverted button"><i class="remove icon"></i>CANCEL</div>
            {{/if}}

            {{#if onApprove}}
            <div class="ui green ok basic inverted button"><i class="checkmark icon"></i>OK</div>
            {{/if}}

        </div>
    </div>

</div>

