<div class="ui small icon buttons EditBar" style="position:absolute;bottom:0;right:0;">
  <button class="ui button {{bind link}} topleft special link">
    <i class="linkify icon"></i>
  </button>
  <div class="ui popup inverted tiny">
    link
  </div>
  <button class="ui button {{bind duplicate}} topleft">
  	<i class="plus icon"></i>
  </button>
  <div class="ui popup inverted tiny">
    duplicate
  </div>
  <button class="ui button topleft {{bind remove}}">
  	<i class="remove icon"></i>
  </button>
  <div class="ui popup inverted tiny">
    remove
  </div>
  <button class="ui button topleft {{bind bold}}">
  	<i class="bold icon"></i>
  </button>
  <div class="ui popup inverted tiny">
    bold
  </div>
  <button class="ui button topleft {{bind italic}}">
  	<i class="italic icon"></i>
  </button>
  <div class="ui popup inverted tiny">
    italic
  </div>
  <button class="ui button topright {{bind underline}}">
  	<i class="underline icon"></i>
  </button>
  <div class="ui popup inverted tiny right">
    underline
  </div>
  <button class="ui button topright {{bind unformat}}">
  	<i class="erase icon"></i>
  </button>
  <div class="ui popup inverted tiny">
    unformat
  </div>
  <button class="ui button">
    Followed
  </button>
</div>
