<div class="ui small icon buttons editbar" style="position:absolute;" data-content="press spacebar or click to edit" data-variation="inverted">
    <button class="ui button topleft special css {{bind css}}">
      <i class="write icon"></i>
    </button>
    <div class="ui popup inverted tiny">
      style css
    </div>


  <button class="ui button topleft special paste {{bind paste}}">
    <i class="paste icon"></i>
  </button>
  <div class="ui popup inverted tiny">
    paste
  </div>

  <button class="ui button topleft copy {{bind copy}}">
    <i class="copy icon"></i>
  </button>
  <div class="ui popup inverted tiny">
    copy
  </div>

  <button class="ui button topleft special img {{bind img}}">
    <i class="file image outline icon"></i>
  </button>
  <div class="ui popup inverted tiny">
    update image
  </div>

  <button class="ui button topleft special ckeditor {{bind ckeditor}}">
    <i class="font icon"></i>
  </button>
  <div class="ui popup inverted tiny">
    text-edition
  </div>

  <button class="ui button topleft special move {{bind move}}">
    <i class="move icon"></i>
  </button>
  <div class="ui popup inverted tiny">
    move
  </div>

  <button class="ui button topleft link {{bind link}}">
    <i class="linkify icon"></i>
  </button>
  <div class="ui popup inverted tiny">
    link
  </div>

  <button class="ui button topleft markduplicate {{bind markduplicate}}">
  	<i class="checkmark box icon"></i>
  </button>
  <div class="ui popup inverted tiny">
    mark as duplicable
  </div>

  <button class="ui button topleft duplicate {{bind duplicate}}">
  	<i class="plus icon"></i>
  </button>
  <div class="ui popup inverted tiny">
    duplicate
  </div>

  <button class="ui button topleft remove {{bind remove}}">
  	<i class="remove icon"></i>
  </button>
  <div class="ui popup inverted tiny">
    remove
  </div>

  <div class="ui animated button topright tag {{bind parent}}" tabindex="0">
    <div class="visible content">Next</div>
    <div class="hidden content">
      <i class="arrow up icon"></i>
    </div>
  </div>
  <div class="ui popup inverted tiny">
    parent >
  </div>
</div>
