{{!-- data context -> Array<model.GitHubRepo> --}}
<div class="item Repos">
    <b class="{{bind titleEvent}}" style="cursor: pointer">{{title}} project</b> <span class="ui label">{{repos.length}}</span>
    <div class="menu" style="display: none">
        <a class="item {{bind newEvent}}">NEW PROJECT <i class="add circle icon"></i></a>
        {{#each repos}}
            <a class="item {{bind ../repoEvent}}" data-url="{{clone_url}}">
                {{name}}
            </a>
        {{/each}}
    </div>
</div>
