{{!-- data context -> controllers.Templates --}}
<div class="ui basic modal Templates">
    <i class="close icon"></i>
    <div class="header"><center>SELECT YOUR TEMPLATE</center></div>
    <div class="content">
        <div class="ui two column grid">
        {{#each data}}
            <div class="column {{bind event}}" style="cursor:pointer">
                <div {{#if iframe}}style="width: 390px;height: 293px;overflow: hidden;"{{/if}}>
                    {{#if min}}
                    <img src="{{path}}{{min}}" class="ui bordered fluid image">
                    {{/if}}
                    {{#if iframe}}
                    <iframe src="{{path}}{{iframe}}" class="ui bordered fluid image" style="width: 1560px; height: 1205px; max-width: none; border:none;transform:scale(0.25,0.25);transform-origin:top left; background: white" ></iframe>
                    {{/if}}
                    <div class="ui bottom left attached label">{{name}}</div>
                </div>
            </div>
        {{/each}}
        </div>
    </div>
</div> 