{{!-- data context -> controllers.Toolsbar --}}
<div class="ui vertical left fixed inverted labeled icon menu toolbar">
  <a class="item settings">
    <i class="settings icon"></i> Settings
  </a>
  <a class="item {{bind createHandlers}} new">
    <i class="big icons">
      <i class="file icon"></i>
      <i class="corner add icon black"></i>
  </i><br/><br/>New Page
  </a>
  <a class="item {{bind saveHandlers}} save">
    <i class="save icon"></i> Save
  </a>
  <a class="item {{bind publishHandlers}} publish">
    <i class="cloud upload icon"></i> Publish
  </a>
  <a class="item {{bind editHandlers}} edit">
    <i class="edit icon"></i> Edit
  </a>
  <a class="item {{bind duplicateHandlers}} duplicate">
    <i class="plus icon"></i> Duplicate
  </a>
  <a class="item {{bind backgroundHandlers}} background">
    <i class="file image outline icon"></i> Images
  </a>
  <a class="item {{bind removeHandlers}} remove">
    <i class="trash icon"></i> Delete
  </a>
  <a class="item {{bind uploadHandlers}} upload">
    <i class="upload icon"></i> Upload
  </a>
  <a class="item {{bind pluginsHandlers}} plugins">
    <i class="cubes icon"></i> Plugins
  </a>
  {{!-- plugins list --}}
  <div class="ui inverted vertical compact menu plugins"></div>
  {{!-- hidden input for upload --}}
  <input type="file" id="upload" />
</div>
